<% if (success.length != 0) { %>
<div class="flash-message success">
    <%= success %>
</div>
<% } %>

<% if (error.length != 0) { %>
<div class="flash-message error">
    <%= error %>
</div>
<% } %>