<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JurisPrudence</title>
    <link rel="icon" type="image/x-icon" href="/images/JurisPrudence Logo.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/js/navbar-scroll.js"></script>
    <script src="/js/flash-fade.js"></script>
</head>

<body>
    <nav class="navbar">
        <h1 class="navbar-header">About JurisPrudence</h1>

        <div class="navbar-content">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/login">Login</a>
            <a class="navbar-link" href="/register">Register</a>
            <a class="navbar-link" href="/profile">Profile</a>
            <a class="navbar-link" href="/laws">Laws</a>
            <a class="navbar-link" id="current-page" href="/about">About</a>
        </div>
    </nav>

    <%- include('partials/flash')%>

    <main>
        <div id="content-container">
            <div class="poem">
                <p>
                    Three bills for construction-workers under the sky,<br>
                    Seven for the coal-miners in their halls of stone,<br>
                    Nine appropriation bills doomed to die<br>
                    One for the founder on their marble throne;<br>
                    In the Land of Congress where the Representatives lie.<br>
                    <br>
                    One App to rule the bills, one App to find them,<br>
                    One App to bring them all, and in the 2024 election cycle,<br>
                    teach you about your representatives' political ideologies;<br>
                    <br>
                    In the Land of Congress where the Representatives lie.<br>
                </p>
            </div>
        </div>

        <div class="attributions">
            <h3>Image Attributions</h3>
            <ul>
                <li>Andy Feliciotti 2023 (Homepage Background)</li>
                <li>fllphoto/Getty (Login Background)</li>
                <li>Bigstock (Loading Background)</li>
                <li>filo/iStock (About Background)</li>
            </ul>
        </div>

    </main>

    <script>

    </script>
</body>

</html>