<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucky Politicians</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/flash')%>

        <div id="home-div">
            <image id="home-image" src="/images/WHO'S THAT.png"></image>

            <div id="start-div-container">
                <div id="start-div">
                    <h1 id="start-text">LEARN WHO THEY ARE HERE:</h1>
                    <a href="/login"><button id="start-button">Log In</button></a>
                    <p>(We will not sell your data to China)</p>
                </div>
            </div>
        </div>

        <script>

        </script>
</body>

</html>