<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucky Politicians | test</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <%- include('partials/flash')%>

        <div id="background-div">
            <div id="login-container">

                <div id="login-div">
                    <h1>How are you</h1>
                    <form action="/login" method="post">
                        <label for="username">HI!:</label>
                        <input type="text" name="username" required>

                        <label for="password">NO!</label>
                        <input type="password" name="password" required>

                        <button id="login-button" type="submit">bye.</button>
                    </form>
                </div>

                <div id="signup-div">
                    <h3>Or, if you don't have a profile:</h3>
                    <a href="/register"><button id="signup-button">Go Fuck yourself</button></a>
                </div>

            </div>
        </div>


</body>

</html>