#form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;

}

form {
    border: 5px red solid;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
}

legend {
    font-weight: bold;
}

fieldset {
    margin-bottom: 40px;
    padding-top: 25px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
}

label.required::after {
    position: relative;
    left: 10px;
    font-size: 20px;
    content: "*";
    color: red;
}

.radio-select-container {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.radio-select {
    display: flex;
    justify-content: center;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}