body {
    background-image: url("/images/Sand Tileable.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    overflow-y: scroll;
    /*scrollbar-gutter: stable;*/
    /* This sucks */
}

/*
#home-button {
    left: 30px;
}
    */

#congresses-div {
    /*left: 14px;*/
    position: absolute;
    background-color: whitesmoke;
    padding: 10px 10px 20px 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    border: black solid 5px;
    border-left: none;
    margin-top: 50px;
    height: auto;
}

h2 {
    font-size: 20px;
}

.congress-link {
    margin-bottom: 5px;
}

#law-list-container {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding: 0;
}


.law {
    display: none;

    height: auto;
    margin-top: 30px;
    background-color: whitesmoke;
    border: black solid 5px;
    padding: 5px 30px 30px 30px;
    width: 625px;
}

img {
    width: 100%;
}