main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/images/Sand Tileable.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 30%;
}

#main-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content img {
    width: 100px;
}

#loading-text {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

#main-content h2 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
}

#progress-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#progress-bar {
    height: 30px;
    width: 200px;
    margin-right: 20px;
}

.popup-container {
    flex: 1;
    /* background-color: lightblue; */
    height: calc(100vh - 80px);
}

.popup {
    position: relative;
    width: 330px;
    height: auto;
    padding: 10px 20px;

    top: 0;
    left: 0;

    background-color: white;
    border: 5px solid black;

    /* transition: opacity 1s ease-out; */
    display: none;

}