main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/images/Sand Tileable.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 30%;
}

#main-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content img {
    width: 100px;
}

#loading-text {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

#main-content h2 {
    margin-top: 30px;
    font-size: 25px;
    color: white;
}

.popup-container {
    flex: 1;
    /* background-color: lightblue; */
    height: calc(100vh - 80px);
}

.popup {
    position: relative;
    width: 330px;
    height: auto;
    padding: 10px 20px;

    top: 0;
    left: 0;

    background-color: white;
    border: 5px solid black;

    /* transition: opacity 1s ease-out; */
    display: none;

}


/* @keyframes progress {
    0% {
        --percentage: 0;
    }

    100% {
        --percentage: var(--value);
    }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
} */

#progress-bar {
    --percentage: var(--value);
    --primary: #369;
    --secondary: #adf;
    --size: 200px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}

#progress-bar::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}