body {
    scroll-behavior: smooth;
    background-color: #0a1319;
    font-family: "Notable", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

p {
    color: aliceblue;
}

#header-div {
    position: relative;
    width: auto;
    height: 200px;
    background-color: #2e2f32;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-text {
    color: whitesmoke;
    font-size: 50px;
}

#home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 40px;
    font-size: 26px;
    border-radius: 5px;
    background-color: rgb(174, 176, 190);
}

#home-button:hover {
    background-color: rgb(187, 189, 204);
}
